#float > h3{
    position: relative;
    bottom: 5px;
    left: 1px;
}

#float > .panel{
    margin-left: 9px;
}

#float .box{
    margin-bottom: 20px;
    margin-right: 18px;
}

#float .box
{
    float: left;
}

#float .box:nth-child(4n+4){
    clear: left;
}

#float img{
    padding: 11px;
    border: 1px solid gray;
    border-radius: 2px;
    z-index: -1;
}

#float .text{
    margin-left: 55px;
    margin-top: 82px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

#float .white{
    color: white;
}

#float .gray{
    margin-left: 2px;
    color: lightgray;
}

#float .green{
    width: 100px;
    height: 60px;
    color: #32ff3b;
}

#float button{
    padding: 7px 20px;
    margin-top: 6px;
    border: 1px solid gray;
    border-radius: 3px;
    background: linear-gradient(#fcfff6, #e6f0e2) #e5f9d5;
}

#float .details{
    margin-right: 10px;
}

#float .image:hover > img{
    -webkit-filter: brightness(50%);
}

#float .image:hover > .text{
    visibility: visible;
}

#float img:hover{
    -webkit-filter: brightness(50%);
}

#float button:hover{
    background: #32ff3b;
}

#float button:active{
     background: linear-gradient(#e5f9d5 , #fcfff6) #e6f0e2;
 }

