#inline-box > h3{
    position: relative;
    bottom: 5px;
    left: 1px;
}

.left-block, .center-block, .right-block{
    display: inline-block;
}

/*.center-block{
    position: relative;
    right: 4px;

}*/

#inline-box > .left-block,
#inline-box > .center-block
#inline-box > .right-block{
    padding-right: 20px;
}

#inline-box > .left-block,
#inline-box > .center-block
#inline-box > .right-block{
    margin-left: 9px;
}

#inline-box > .left-block > .box,
#inline-box > .center-block > .box
#inline-box > .right-block > .box{
    margin-bottom: 20px;
    margin-right: 18px;
}

#inline-box > .left-block > .box > .image > img,
#inline-box > .center-block > .box > .image > img,
#inline-box > .right-block > .box > .image > img{
    padding: 11px;
    border: 1px solid gray;
    border-radius: 2px;
    z-index: -1;
}

#inline-box > .left-block > .box > .image > .text,
#inline-box > .center-block > .box > .image > .text,
#inline-box > .right-block > .box > .image > .text
{
    margin-left: 55px;
    margin-top: 82px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

#inline-box > .left-block > .box > .image:hover > img,
#inline-box > .center-block > .box > .image:hover > img,
#inline-box > .right-block > .box > .image:hover > img{
    -webkit-filter: brightness(50%);
}

#inline-box > .left-block > .box > .image:hover > .text,
#inline-box > .center-block > .box > .image:hover > .text,
#inline-box > .right-block > .box > .image:hover > .text{
    visibility: visible;
}

#inline-box > .left-block > .box > .image > .text > .white,
#inline-box > .center-block > .box > .image > .text > .white,
#inline-box > .right-block > .box > .image > .text > .white{
    color: white;
}

#inline-box > .left-block > .box > .image > .text > .gray,
#inline-box > .center-block > .box > .image > .text > .gray,
#inline-box > .right-block > .box > .image > .text > .gray{
    margin-left: 2px;
    color: lightgray;
}

#inline-box > .left-block > .box > .image > .text > .green,
#inline-box > .center-block > .box > .image > .text > .green,
#inline-box > .right-block > .box > .image > .text > .green{
    width: 100px;
    height: 60px;
    color: #32ff3b;
}

#inline-box > .left-block > .box > button,
#inline-box > .center-block > .box > button,
#inline-box > .right-block > .box > button{
    padding: 7px 20px;
    margin-top: 6px;
    border: 1px solid gray;
    border-radius: 3px;
    background: linear-gradient(#fcfff6, #e6f0e2) #e5f9d5;
}

#inline-box > .left-block > .box > .details,
#inline-box > .center-block > .box > .details,
#inline-box > .right-block > .box > .details{
    margin-right: 10px;
}

#inline-box > .left-block > .box > .image > img:hover,
#inline-box > .center-block > .box > .image > img:hover,
#inline-box > .right-block > .box > .image > img:hover{
    -webkit-filter: brightness(50%);
}

#inline-box > .left-block > .box > button:hover,
#inline-box > .center-block > .box > button:hover,
#inline-box > .right-block > .box > button:hover{
    background: #32ff3b;
}

#inline-box > .left-block > .box > button:active,
#inline-box > .center-block > .box > button:active,
#inline-box > .right-block > .box > button:active{
    background: linear-gradient(#e5f9d5 , #fcfff6) #e6f0e2;
}