<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="style/page.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/main/main.css">
    <link rel="stylesheet" href="style/main/left-menu.css">
    <link rel="stylesheet" href="style/main/window.css">
    <link rel="stylesheet" href="style/footer.css">
</head>
<body>
<div id="page">
    <div id="header">
        <label class="help">Help center</label>
        <div class="circle"></div>
        <label class="help">Our Support</label>
        <div id="user">
            <div class="circle-big">
                <img class="avatar" src="resources/photo.png" alt="">
            </div>
            <span class="name">Vladislav Gusev</span>
            <div class="circle-small">
                <img class="arrow" src="resources/arrow.png" alt="">
            </div>
        </div>
    </div>
    <div id="main">
        <div id="left-menu">
            <div class="add-book">
                <button>
                    <div class="add"></div>
                    <span>ADD A BOOK</span>
                </button>
            </div>
            <div class="list">
                <div class="q">

                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</div>
</body>
</html>