<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="style/page.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/main/main.css">
    <link rel="stylesheet" href="style/main/left-menu.css">
    <link rel="stylesheet" href="style/main/window.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<div id="page">
    <div id="header">
        <label class="help">Help center</label>
        <div class="circle"></div>
        <label class="help">Our Support</label>
        <div id="user">
            <div class="circle-big">
                <img class="avatar" src="resources/photo.png" alt="">
            </div>
            <span class="name">Vladislav Gusev</span>
            <div class="circle-small">
                <img class="arrow" src="resources/arrow.png" alt="">
            </div>
        </div>
    </div>
    <div id="main">
        <div id="left-menu">
            <div class="add-book">
                <button>
                    <div class="add"></div>
                    <span>ADD A BOOK</span>
                </button>
            </div>
            <div class="list">
                <div class="section">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Now Reading</span>
                </div>
                <div class="section">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span>Browse</span>
                </div>
                <div class="section">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>Buy Books</span>
                </div>
                <div class="section">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>Favourite Books</span>
                </div>
                <div class="section">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span>Wishlist</span>
                </div>
                <div class="section">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>History</span>
                </div>
            </div>
            <div class="mark-list">
                <ul>
                    <li><span>Must Read Titles</span></li>
                    <li><span>Best of List</span></li>
                    <li><span>Classic Novels</span></li>
                    <li><span>Non Fiction</span></li>
                </ul>
            </div>
            <div class="notice">
                <div class="notification">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="description">
                        <div>
                            <span class="default">You added</span>
                            <span class="info">Fight Club</span>
                            <span class="default">by</span>
                            <span class="info">Chuck Palahniuk</span>
                            <span class="default">to your</span>
                            <span class="info">Must Read Titles</span><span class="default">.</span>
                        </div>
                        <span class="time">24 minutes ago</span>
                    </span>
                </div>
                <div class="notification">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="description">
                        <div>
                            <span class="default">You added</span>
                            <span class="info">The Trial</span>
                            <span class="default">by</span>
                            <span class="info">Franz Kafka</span>
                            <span class="default">to your</span>
                            <span class="info">Must Read Titles</span><span class="default">.</span>
                        </div>
                        <span class="time">48 minutes ago</span>
                    </span>
                </div>
            </div>
        </div>
        <div id="window">
            <div id="name">
                <span>Browse Available Books</span>
            </div>
            <div id="sections">
                <div id="menu-books">
                    <div class="bg shadow">All Books</div>
                    <div class="shadow">Most Recent</div>
                    <div class="shadow">Most Popular</div>
                    <div class="shadow">Free Books</div>
                </div>
                <input class="searcher" placeholder="Enter Keywords" type="text">
            </div>
            <div id="books">
                <div class="book">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="button">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>
        <div class="button">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
    </div>
</div>
</body>
</html>