.external{
    margin: 0;
    padding: 0;
    border: 15px solid aqua;
    border-radius: 5px;
    background: lightgoldenrodyellow;
    box-shadow:
            0 0 0 4px #00a2a5;
}

.interior{
    margin: 0;
    padding: 0;
    border: 2px solid darkturquoise;
}

h3 {
    padding: 10px;
    margin: 0;
    background: orange;
}

#triangle{
    width: 0;
    height: 0;
    padding: 0;
    position: relative;
    left: 20px;
    border: 15px solid transparent;
    border-top: 15px solid orange;
}

p{
    padding: 0 10px 15px;
    margin: 0;
    background: lightgoldenrodyellow;
}
